<header class="bg-gray-900 text-white p-4 flex justify-between items-center">
  <h1 class="text-xl font-bold cursor-pointer hover:text-gray-300">
    <a routerLink="/" class="hover:text-gray-300">Chat App</a>
  </h1>
  <nav>
    <ul class="flex gap-4">
      <li>
        <a routerLink="/" class="hover:text-gray-300">Home</a>
      </li>
      <li class="inline">
        <a
          routerLink="/chat"
          *ngIf="isAuthenticated()"
          class="hover:text-gray-300"
          >Chat</a
        >
      </li>
      <li>
        <a
          routerLink="/file-share"
          *ngIf="isAuthenticated()"
          class="hover:text-gray-300"
          >Share Files</a
        >
      </li>
      <li>
        <a
          routerLink="/login"
          *ngIf="!isAuthenticated()"
          class="hover:text-gray-300"
          >Sign In</a
        >
      </li>
      <li *ngIf="isAuthenticated()">
        <button
          (click)="logout()"
          class="bg-red-500 px-3 py-1 rounded hover:bg-red-600"
        >
          Sign Out
        </button>
      </li>
    </ul>
  </nav>
</header>

<div
  class="flex gap-6 max-sm:flex-col items-center justify-center text-center bg-red-600 text-white px-6 py-3.5 rounded"
  *ngIf="isTokenExpired()"
>
  <p class="text-base font-medium">
    Your Session has expired, we are taking you back to the login page...
  </p>
</div>

<div
  class="flex gap-6 max-sm:flex-col items-center justify-center text-center bg-blue-600 text-white px-6 py-3.5 rounded"
  *ngIf="isKeyMissing()"
>
  <p class="text-base font-medium">
    Before using the App, you need to add your keys....
  </p>
</div>
