<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-bold text-center mb-4">Login</h2>

    <form (submit)="login(); $event.preventDefault()">
      <div class="mb-4">
        <label class="block font-medium">Email</label>
        <input
          type="text"
          [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }"
          class="w-full border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="block font-medium">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          class="w-full border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <button
        type="submit"
        class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
      >
        Login
      </button>

      <p *ngIf="errorMessage" class="text-red-500 mt-2 text-center">
        {{ errorMessage }}
      </p>

      <p class="text-center mt-4">
        Don't have an account?
        <a (click)="navigateToRegister()" class="text-blue-500 cursor-pointer"
          >Register</a
        >
      </p>
    </form>
  </div>
</div>
